* {
    box-sizing: border-box;
    margin:0;
    padding:0;

}
body {
    margin: auto;
    font-family: sans-serif;
    padding: 0;

}

header {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 8%;
    margin-right:20%;
    padding: 0;


}

.barra_nav {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 2%;
    left: 8%;
    right: 18%;
    width: 100%;
    height: 85px;
    background-color: rgb(247, 244, 244);

}

nav {
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    margin-top: 0;
    width: 100%;
    margin-left: 5%;
    padding: 0;


}

ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    list-style: none;
    width: 100%;
    color: rgb(6, 40, 70);
    font-weight: bold;
    text-decoration: none;
    margin-top: 1%;
    left: 3%;
    margin-right: 10%;
    padding: 1%;

}

ul li {

    display: inline;
    list-style: none;
    text-align: center;
    top: 2%;
    left: 5%;
    right: 10%;
    bottom: 4%;
    padding: 1%;
}

li a {
    padding: 2px 5px 2px 5px;
    color: rgb(5, 50, 89);
    font-weight: bold;
    text-decoration: none;
    font-size: 3vh;
    margin-left: 3%;
    margin-right: 5%;
    justify-content: center;
    padding: 1%;
}

a:hover {
    background-color: #bcb5b5;
    color: rgb(55, 41, 4);


}

nav .btn button {
    box-sizing: border-box;
    bottom: 2%;
    background-color: rgb(202, 11, 141);
    width: 200px;
    padding: 0 10px;
    border-radius: 40px;
    font-size: 4vh;
    color: rgb(222, 224, 224);
    text-align: center;
    font-weight: bold;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
}


nav .btn a {
    background-color: rgb(202, 11, 141);
    justify-self: center;
    color: rgb(234, 189, 65);
    font-weight: bold;

}

nav .btn a :hover {
    color: rgb(8, 8, 7);
}


#presentacion {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-top: 25%;
    margin-left: 18%;
    margin-right: 28%;
    color: #59084e;
    width: 60%;
    padding: 8%;

}


#presentacion .titulo {
    box-sizing: border-box;
    border-color: #9c3e8f;
    display: inline;
    margin-left: 38%;
    right: 10%;
    margin-right: 40%;
    font-family: 'Merge', sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
    color: rgb(234, 7, 203);

}


#presentacion span {
    color: rgb(3, 143, 143);
}

#presentacion h3 {
    font-size: 2.8vh;
    color: rgb(12, 12, 70);
    margin-top: 20%;
    margin-right: 20%;


}

#presentacion .imagen_hero {
    display: inline;
}

#presentacion .imagen_hero img {
    box-sizing: border-box;
    margin-top: 6%;
    left: 4%;
    width: 280px;
    max-height: 580px;
}


.btn_2 button {
    margin-top: 1%;
    margin-left: 48%;
    margin-right: 65%;
    width: 180px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 40px;

}

.btn_2 a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
}


.cita {
    box-sizing: border-box;
    display: flex;
    width: 55rem;
    height: auto;
    width: 60%;

}

.quotation {

    background-image: linear-gradient(to right top, #4ffbdf, #ccff00, #a38b04, #8c9dff, #f852e1);
    box-sizing: border-box;
    width: 60%;
    border: 2px solid black;
    display: flex;
    display:inline;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(131, 220, 220);
    font-size: 3.5vh;
    text-align: end;
    padding-left: 15%;
    left: 10%;
    right:40%;
    padding: 15px;

}

.quotation p {

    color: rgb(22, 22, 21);
    font-weight: bold;
}

.quotation .ilustracion img {
    width: 30%;

}

/*sacar fondo blanco*/
.quotation .ilustracion {
    filter: brightness(1, 1);
    mix-blend-mode: multiply;


}

#conocimientos {
    box-sizing: border-box;
    width:100%;
    height:700px;
    background-color: antiquewhite;
    display:flex;
    flex-direction: row;
    align-items:center;
    box-sizing: border-box;
    margin-top: 10%;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(71, 50, 71);
    -moz-box-shadow: 10px 10px 5px 0px rgb(68, 58, 68);
    box-shadow: 10px 10px 5px 0px rgb(35, 27, 35);

}

#conocimientos .caja_prog {
    box-sizing: border-box;
    display: inline;
    align-items: center;
    background-color: rgb(207, 208, 211);
    border: 3px solid rgb(19, 19, 96);
    border-radius: 4em; 
    margin:20px;
    width: 19%;
    height:60%;
}

#conocimientos .caja_prog img {
    margin-top: 50%;
    margin-left: 12%;
}

#conocimientos .title h2 {

    margin-left: 18px;
    color: rgb(77, 72, 15);
    font-style: oblique;
    font-size: 2rem;
}


#conocimientos svg :hover {
    transform: rotateX(9deg) rotateY(9deg);
    transition: 2s;
    transform-origin: 0% 0%;
    perspective: 200;
    -webkit-transform: scale(0.8) scaleZ(1.0) rotateX(9deg) rotateY(9deg);
    -webkit-transform-origin: 0% 0%;
    -webkit-perspective: 200;
    -webkit-perspective-origin: 50% 50%;
    -moz-transform:  rotateX(9deg) rotateY(9deg);
    -moz-transform-origin: 0% 0%;
    -moz-perspective: 200;
    -moz-perspective-origin: 50% 50%;
    -o-transform: scale(0.8) scaleZ(1.0) rotateX(9deg) rotateY(9deg);
    -o-transform-origin: 0% 0%;
    -o-perspective: 200;
    -o-perspective-origin: 50% 50%;
    -ms-transform: scale(0.8) scaleZ(1.0) rotateX(9deg) rotateY(9deg);
    -ms-transform-origin: 0% 0%;
    -ms-perspective: 200;
    -ms-perspective-origin: 50% 50%;


}
#conocimientos img {
    max-width: 200px;
    max-height: 200px;
}

.title {
    font-style: oblique;
    margin-top: 0px;
    font-size: 3vh;
    color: rgb(44, 44, 11);
    margin-left: 40%;
}



.title02 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    color: rgb(75, 56, 7);
    font-style: oblique;
    font-size: 3vh;
    margin-left: 40%;

}

#proyectos {
   
    box-sizing: border-box;
    width:1800px;
    background-color: #bcb5b5;
    border-color: 2px rgb(37, 37, 101);
    box-shadow: 4px  #8c9dff;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10% 10% 30% 20%;
    left: 6%;
    gap: 0.8rem;
    margin-top:40px;
    bottom: 20%;
   

}

#proyectos .title02 {
    box-sizing: border-box; 
    align-content: center;
    padding:5%;
    margin-left:25%;
    right:30%;

}
 .descripcion {
    box-sizing: border-box; 
    font-size: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(61, 47, 12);
    display: flex;
    justify-content: center;
    margin-left: 40%;
}

.grilla {
    
    box-sizing: border-box;
    width:1260px;
    height: 730px;
    border-radius: 4em;
    display: inline;
    flex-wrap: wrap;
    padding:5%;
    gap:9em;
    margin-top: 10%;
    margin-right:10%;
    margin-bottom:10%;
    margin-left: -5%;
    background-color: white;
    justify-content: space-evenly;
    flex-flow: row-reverse;
    padding: 5%;




}

#proyectos .card {

    box-sizing: border-box;
    border: solid 1px rgb(206, 37, 189);
    width: 430px;
    height: 630px;
    border-radius: 4em;
    display: inline;
    background-color: rgb(248, 201, 201);
    border: solid 1px rgb(206, 37, 189);
    flex-wrap: wrap;
    padding:5%;
    margin-right:20%;
    margin-bottom:10%;
    left:5%;
    right:40%;
    margin-left:15%;
    gap:9em;
    background-color: white;
    justify-content: center;
    padding: 5%;




}

#proyectos .card2 {
    box-sizing: border-box;
    width: 430px;
    height: 630px;
    border-radius: 4em;
    display: inline;
    background-color: rgb(248, 201, 201);
    flex-wrap: wrap;
    padding:5%;
    margin-right:20%;
    margin-bottom:10%;
    margin-left:35%;
    margin-right:40%;
    gap:9em;
    background-color: white;
    justify-content: center;
    padding: 5%;





}


.car :hover {
    transform: scaleY(140%);
    background-color: rgb(125, 171, 200);
    transition: all ease 0.2s;
}




/*ajustar tamaño imagen*/
.card2 .photo img  {
    width: 65%;
}

.card a {
    color: #066291;
    text-decoration: none;
}

.card a :hover {
    color: darkviolet;
}


/*ajustar tamaño*/
.photo {
    width: 60%;
}

.container {
    
    box-sizing: border-box;
    width: 80%;
    border-radius: 4em;
    display: inline;
    border: solid 1px rgb(206, 37, 189);
    flex-wrap: wrap;
    padding:5%;
    left:2%;
    right: 30%;
    gap:9em;
    margin-left: 1%;
    background-color: white;
    padding: 5%;
}

.container a {
    text-decoration: none;
}

.container a:hover {
    color: darkviolet;
}

.container .tarjeta {

    box-sizing: border-box;
    border: solid 1px rgb(206, 37, 189);
    width: 330px;
    height: 530px;
    border-radius: 4em;
    display: inline;
    background-color: rgb(248, 201, 201);
    border: solid 1px rgb(206, 37, 189);
    flex-wrap: wrap;
    padding:5%;
    left:2%;
    margin-right:40%;
    gap:9em;
    background-color: white;
    justify-content: center;
    padding: 5%;
    
}
.container .tarjeta2 {

    box-sizing: border-box;
    border: solid 1px rgb(206, 37, 189);
    width: 460px;
    height: 630px;
    border-radius: 4em;
    margin: 1%;
    background-color: white;
    display: inline;
    flex-wrap: wrap;
    padding:5%;
    left:45%;
    right:25%;
    gap:9em;
    margin-left: 1%;
    background-color: white;
    justify-content: center;
    padding: 5%;
   
}

#contacto {
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
    display:flex;
}

#contacto .redes_sociales {
    box-sizing: border-box;
    top:10%;
    display: flex;
    display:inline;
}
#contacto .redes_sociales h2 {
    color: rgb(75, 56, 7);
    font-style: oblique;
    font-size: 3vh;
    margin-left: 40%;
    margin-top: 45%;

}

#contacto .redes_sociales h3 {
    color: rgb(75, 56, 7);
    font-style: oblique;
    margin-left: 40%;
    margin-top: 45%;

}

#contacto .redes_sociales a {
    text-decoration: none;
    color: rgb(82, 8, 151);

}

.redes_sociales img {
    width: 60%;
}

 .contacto_email a {
    text-decoration: none;
    color: rgb(83, 9, 152);

}
.contacto_email a :hover {
    color:#9c3e8f;
    background-color: #8c9dff;

}

.contacto02 input [type=”email”] {

    width: 8px;
    height: 3px;
    opacity: 0;
    overflow: hidden;
}

.foot footer {
    box-sizing: border-box;
    height: 40px;
    background-color: rgb(220, 163, 220);
    border: 2px solid #000000;
    margin-bottom: 0;
    margin-left: 0;

}

.foot {
    box-sizing: border-box;
    display: inline;
    justify-content: center;
    height: 100px;
    background-color: #9c3e8f;
    margin-bottom: 0;
    margin-left: 40%;
}
.footer a {
    text-decoration: none;
   
}

.firma {
    background-color: aquamarine;
}




#quotation img {
    width: 6vh;
}

#contacto {
    display: flex;
    flex-direction: column;

}


input.text,
textarea.text {
    background: rgb(166, 213, 230);
    border: 2px solid #b442a8;
    border-radius: 5px 5px 5px 5px;
    color: #066291;
    font-size: 12px;
    padding: 5px;
}

button .miboton-personalizado {

    padding: 25px 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    width: 480px;
    height: 48px;
    margin-bottom: 60px;
    overflow: hidden;
    color: rgb(12, 10, 10);
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all ease 0.5s;
}

.miboton-personalizado:before {
    width: 480px;
    height: 48px;
    background-color: rgba(189, 8, 135, 0.5);
}

.miboton-personalizado:hover {
    transform: scaleY(140%);
    background-color: rgb(7, 157, 244);
    transition: all ease 0.2s;
}


.foot .icons {
    margin-left: 40%;
}

.foot footer .icons {
    box-sizing: border-box;
    display:flex;
    justify-content: center;
}

.icons svg {
    display:inline;
    justify-content: center;
}
.icons svg a .hover{
    background: #a38b04;

}


.image_mail img {
    width:58px;
    height:48px;
}


.icono a :hover{
    background: #8c9dff;

}
.firma {
    background-color: aquamarine;
}

