* {
    box-sizing: border-box;
    margin:0;
    padding:0;

}
body {
    margin: auto;
    width:100%;
    font-family: sans-serif;
    padding: 0;

}

header {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 8%;
    margin-right:20%;
    padding: 0;

}

.barra_nav {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    left: 8%;
    right: 18%;
    width: 100%;
    height: 85px;
    margin-top:0;
    background-color: rgb(247, 244, 244);

}

nav {
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    margin-top: 0;
    width: 100%;
    margin-left: 5%;
    padding: 0;


}

ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    list-style: none;
    width: 100%;
    color: rgb(6, 40, 70);
    font-weight: bold;
    text-decoration: none;
    margin-top: 0;
    left: 3%;
    margin-right: 10%;
    padding: 1%;

}

ul li {

    display: inline;
    list-style: none;
    text-align: center;
    top: 2%;
    left: 5%;
    right: 10%;
    bottom: 4%;
    padding: 1%;
}

li a {
    padding: 2px 5px 2px 5px;
    color: rgb(5, 50, 89);
    font-weight: bold;
    text-decoration: none;
    font-size: 3vh;
    margin-left: 3%;
    margin-right: 5%;
    justify-content: center;
    padding: 1%;
}

a:hover {
    background-color: #bcb5b5;
    color: rgb(55, 41, 4);

}

nav .btn button {
    box-sizing: border-box;
    bottom: 2%;
    background-color: rgb(202, 11, 141);
    width: 200px;
    padding: 0 10px;
    border-radius: 40px;
    font-size: 4vh;
    color: rgb(222, 224, 224);
    text-align: center;
    font-weight: bold;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

nav .btn a {
    background-color: rgb(202, 11, 141);
    justify-self: center;
    color: rgb(234, 189, 65);
    font-weight: bold;

}

nav .btn a :hover {
    color: rgb(8, 8, 7);
}

#presentacion {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-top: 25%;
    margin-left: 18%;
    margin-right: 28%;
    color: #59084e;
    width: 60%;
    padding: 8%;

}

#presentacion .titulo {
    box-sizing: border-box;
    border-color: #9c3e8f;
    display: inline;
    margin-left: 38%;
    right: 10%;
    margin-right: 40%;
    font-family: 'Merge', sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
    color: rgb(234, 7, 203);

}

#presentacion span {
    color: rgb(3, 143, 143);
}

#presentacion h3 {
    font-size: 2.8vh;
    color: rgb(12, 12, 70);
    margin-top: 20%;
    margin-right: 20%;

}

#presentacion .imagen_hero {
    display: inline;
}

#presentacion .imagen_hero img {
    box-sizing: border-box;
    margin-top: 6%;
    left: 4%;
    width: 280px;
    max-height: 580px;
}

.btn_2 button {
    margin-top: 1%;
    margin-left: 48%;
    margin-right: 65%;
    width: 180px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 40px;
}

.btn_2 a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
}

.cita {
    background-image: linear-gradient(to right top, #4ffbdf, #ccff00, #a38b04, #8c9dff, #f852e1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 20px;
    padding:10px;
    height: auto;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(131, 220, 220);
    font-size: 3.5vh;
    text-align: justify;
    padding-right:40%;
    padding: 15px;

}

.cita p {
    font-size: 4.5vh;
    text-align: justify;
    color: rgb(22, 22, 21);
    font-weight: bold; 
}

.cita .quote_mark  {
    max-width: 10%;

}

/*sacar fondo blanco*/
.cita .ilustracion {
    filter: brightness(1, 1);
    mix-blend-mode: multiply;
    max-width:10%;

}
#conocimientos {
    box-sizing: border-box;
    width:100%;
    height:650px;
    background-color: antiquewhite;
    display:flex;
    flex-direction: row;
    align-items:center;
    box-sizing: border-box;
    margin-top: 15%;
    margin-bottom:2px;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(71, 50, 71);
    -moz-box-shadow: 10px 10px 5px 0px rgb(68, 58, 68);
    box-shadow: 10px 10px 5px 0px rgb(35, 27, 35);

}

#conocimientos .caja_prog {
    box-sizing: border-box;
    display: inline;
    align-items: center;
    background-color: rgb(207, 208, 211);
    border: 3px solid rgb(19, 19, 96);
    border-radius: 4em; 
    margin:20px;
    width: 19%;
    height:60%;
}

#conocimientos .caja_prog img {
    margin-top: 50%;
    margin-left: 12%;
}

#conocimientos .title h2 {

    margin-left: 18px;
    color: rgb(77, 72, 15);
    font-style: oblique;
    font-size: 2rem;
}


#conocimientos svg :hover {   
    -webkit-transform: scale(0.8) scaleZ(1.0) rotateX(9deg) rotateY(9deg);
    -webkit-transform-origin: 0% 0%;
    -webkit-perspective: 200;
    -webkit-perspective-origin: 50% 50%;
    -moz-transform:  rotateX(9deg) rotateY(9deg);
    -moz-transform-origin: 0% 0%;
    -moz-perspective: 200;
    -moz-perspective-origin: 50% 50%;

    -o-transform: scale(0.8) scaleZ(1.0) rotateX(9deg) rotateY(9deg);
    -o-transform-origin: 0% 0%;
    -o-perspective: 200;
    -o-perspective-origin: 50% 50%;

    -ms-transform: scale(0.8) scaleZ(1.0) rotateX(9deg) rotateY(9deg);
    -ms-transform-origin: 0% 0%;
    -ms-perspective: 200;
    -ms-perspective-origin: 50% 50%;

    transform: rotateX(9deg) rotateY(9deg);
    transition: 2s;
    transform-origin: 0% 0%;
    perspective: 200;
    
 


}
#conocimientos img {
    margin-top:20px;
    max-width: 200px;
    max-height: 200px;
}

.title {
    font-style: oblique;
    margin-top: 45px;
    font-size: 5vh;
    color: rgb(44, 44, 11);
    font-weight: bold;
    margin-left: 40%;
}


#proyectos {
    box-sizing: border-box;
    width:100%;
    height:560px;
    background-color: antiquewhite;
    display:flex;
    flex-direction: row;
    align-items:center;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom:60%;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(71, 50, 71);
    -moz-box-shadow: 10px 10px 5px 0px rgb(68, 58, 68);
    box-shadow: 10px 10px 5px 0px rgb(35, 27, 35);

}

#proyectos .card {
    box-sizing: border-box;
    display: inline;
    align-items: center;
    background-color: whitesmoke;
    border: 3px solid rgb(73, 1, 72);
    border-radius: 4em; 
    margin:20px;
    padding-top: 60px;
    width: 40%;
    height:70%;
    padding:20px;
}
#proyectos .card a {
    color:black;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
}
#proyectos .card a :hover { 
    color: rgb(93, 67, 3);
    font-weight: bold;
    font-size: 2vh;
}


#proyectos .card img {
    margin-top: 5%;
    width:60%;
    height:40%;
    margin-left: 12%;
    padding-top:20%;
   
}
.card .photo {
    width:100%;
    padding:10px;
    margin-bottom: 10px;
}



#contacto {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height: 860px;
    border: 3px solid rgb(72, 52, 2);
    border-radius: 4em;
    margin-top: 10%;
    background-color: antiquewhite;
    padding:10px;
 
}

#contacto .redes_sociales  {
   
    display: flex;
    flex-direction: column;
    width:42%;
    height:600px; 
    line-height: 10px;
    margin-top: 20px;
}

#contacto .wherefindme {
    margin-bottom:20px;
}

#contacto  p h2 {
    color: rgb(75, 56, 7);
    font-style: oblique;
    font-size: 3vh;
    text-align: center;
    left: 40%;

}

#contacto .redes_sociales h2 {
    color: rgb(64, 7, 75);
    flex-direction: column;
    font-style: oblique;
    line-height: 4vh;
    font-size: 6vh;
    margin-top: 8%;

}

#contacto .paginas {
    margin: 20px;

}
.paginas img {
    width: 10%;
}

#contacto .youtube {
    margin: 20px;

}
#contacto .gmail {
    margin: 20px;

}
#contacto .linkedin {
    margin: 20px;

}
#contacto  a {
    text-decoration: none;
    line-height: 4vh;
    font-size: 6vh;
    margin:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(159, 47, 125);
    padding:10px;

}
#contacto p h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6vh;
    color:#3a1535;
    line-height: 10px;
}

.redes_sociales .pics img {
    width: 15%;
}

.redes_sociales .linkedin img{
    width: 10%;
}
.fab fa-youtube {
    width:10%;
}

#contato .contacto02 {
    
    flex-direction: column;
    width:48%;
    line-height: 10px;
    margin-top: 60px;
}
#contacto .contacto02 p {
    color:#59084e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 6vh;
}
#contacto .contacto02 form {
    margin-top: 10px;
}
.contacto02 input [type="email"] {

    width: 8px;
    height: 20px;
    opacity: 0;
    border-radius: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
    color: #59084e;
    overflow: hidden;
}
.contacto02 input [type="text"] {

    width: 8px;
    height: 15px;
    opacity: 0;
    border-radius: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
    color: #59084e;
    overflow: hidden;
}

.contacto02 .text_form { 
    width: 18px;
    height: 30px;
    border-radius: 4em;
    margin-bottom: 10px;

}
.foot footer {
    box-sizing: border-box;
    height: 40px;
    background-color: rgb(220, 163, 220);
    border: 2px solid #000000;
    margin-bottom: 0;
    margin-left: 0;

}

.foot {
    box-sizing: border-box;
    display: inline;
    justify-content: center;
    height: 100px;
    background-color: #9c3e8f;
    margin-bottom: 0;
    margin-left: 40%;
}
.footer a {
    text-decoration: none;
   
}

.firma {
    background-color: aquamarine;
}



 .miboton-personalizado button{
    margin-top: 30px;
    padding: 25px 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    width: 180px;
    height: 48px;
    background-color: #a06198;
    overflow: hidden;
    color: rgb(12, 10, 10);
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all ease 0.5s;
}


.miboton-personalizado:hover {
    transform: scaleY(140%);
    transition: all ease 0.2s;
}


.foot .icons {
    margin-left: 40%;
}

.foot footer .icons {
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    margin-left: 40%;
}

.icons svg {
    display:inline;
    justify-content: center;
}
.icons svg a .hover{
    background: #a38b04;

}


.image_mail img {
    width:58px;
    height:48px;
}


.icono a :hover{
    background: #8c9dff;

}
.firma {
    background-color: aquamarine;
}

@media (max-width:360px) {
ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    list-style: none;
    width: 100%;
    color: rgb(6, 40, 70);
    font-weight: bold;
    text-decoration: none;
    margin-top: 0;
    margin-left: 1%;
    margin-right: 10%;
    padding: 1%;

}
#presentacion { 
    display: flex;
}
#presentacion .hero {
    flex-direction: column;
}

#presentacion .titulo {
    margin: 20px;
    display:flex;
    flex-direction:column;
    
}
 
#proyectos {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height: 1280px;
    height:auto;
    margin-top:8px;
    margin-bottom: 48%;
    padding:10px;


}
#proyectos .proyectos {
    height:auto; 
    flex-direction: column;
  
}
.proyectos .card {
    align-items: center;
    height: auto;
}

#contactos {
    height:660px;
    margin:20px;
    margin-top:30%;
    margin-bottom: 1px;
}
}
@media (max-width:800px)  {
ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    list-style: none;
    width: 100%;
    color: rgb(6, 40, 70);
    font-weight: bold;
    text-decoration: none;
    margin-top:0;
    margin-left: 5%;
    margin-right: 40%;
    padding: 1%;
 }
      
 #proyectos {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
   
}
#proyectos .proyectos {
    flex-direction: column;
}

 
 #proyectos {
    display:flex;
    flex-wrap: wrap;
    height:auto; 
    margin-top:8px;
    margin-bottom:50px;
    padding:10px;


}
#proyectos .proyectos {
display:flex;
flex-direction: column;
height:auto; 


}

#proyectos .proyectos .card {
    height: auto;
}

#contactos{
    
    margin-top:30%;
    margin-left:30px;
    margin-bottom: 1px;
}


#proyectos .proyectos {
    
    height:auto;
    flex-direction: column;

}

#contactos{
    
    margin-top:30%;
    margin-left:30px;
    margin-bottom: 1px;
    max-height: 400px;
}
}
@media (max-width:780px)  {
    ul {
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        list-style: none;
        width: 100%;
        color: rgb(6, 40, 70);
        font-weight: bold;
        text-decoration: none;
        top: 1%;
        margin-left: 5%;
        margin-right: 40%;
        padding: 1%;
     }
          
     #proyectos {
        display:flex;
        flex-wrap: wrap;
        width: 100%;
       
    }
    #proyectos .proyectos {
        flex-direction: column;
    }
    
     
     #proyectos {
        display:flex;
        flex-wrap: wrap;
        height: 1280px;
        margin-top:8px;
        margin-bottom:50px;
        padding:10px;
    
    
    }
    #proyectos .proyectos {
    display:flex;
    flex-direction: column;
    height:auto;
    
    }
    
    #contactos{
        
        margin-top:30%;
        margin-left:30px;
        margin-bottom: 1px;
    }
    
    
    #proyectos .proyectos {
        height:920px;
        height:auto; 
        flex-direction: column;
    
    }
    #proyectos .proyectos .card {
        flex-direction: column;
        height:auto; 
        width:260px;
        width:30%;
    }
    #contactos{
        
        margin-top:30%;
        margin-left:30px;
        margin-bottom: 1px;
        max-height: 400px;
    }
    }
    
@media (max-width:1400px) {
 ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    list-style: none;
    width: 100%;
    color: rgb(6, 40, 70);
    font-weight: bold;
    text-decoration: none;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 10%;
    padding: 1%;
        
 }
}
