* {
    box-sizing: border-box;
}

div {
    display: block;
}
body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #2e2e31;
}

.nav-menu {
    display: flex;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.contenido_principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grilla_proyectos {
    box-sizing: border-box;
    display:flex; 
    flex-direction:row; 
    justify-content:space-evenly;
    border-color: red;
}
.column {
    width: 100%;
    max-width: 1100px;
}
